/Makefile
/Makefile.in
/aclocal.m4
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/autom4te.cache
/src/.libs
/src/Makefile
/src/Makefile.in
/src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.cc
/src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.h
/src/google/protobuf/unittest.pb.cc
/src/google/protobuf/unittest.pb.h
/src/google/protobuf/unittest_custom_options.pb.cc
/src/google/protobuf/unittest_custom_options.pb.h
/src/google/protobuf/unittest_embed_optimize_for.pb.cc
/src/google/protobuf/unittest_embed_optimize_for.pb.h
/src/google/protobuf/unittest_import.pb.cc
/src/google/protobuf/unittest_import.pb.h
/src/google/protobuf/unittest_mset.pb.cc
/src/google/protobuf/unittest_mset.pb.h
/src/google/protobuf/unittest_optimize_for.pb.cc
/src/google/protobuf/unittest_optimize_for.pb.h
/src/protobuf-test
/src/protoc
/src/unittest_proto_middleman
/stamp-h1
*.Plo
*.Po
*.o
*.lo
*.la
